# Basico para rodar o sistema
fastapi
uvicorn

# Configuração e ambientação
pydantic
pydantic-settings

# HTTP e utilidade gerais do server
httpx
requests

# Database
sqlalchemy

# Certificação do sistema
pip-system-certs

# Logging e monitoramento
loguru